html,
body {
  height: 100%;
  font-family: "Lato", sans-serif;
}

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* index nav bar */


.navbar-brand img {
  width: 70px;
}

.cart-btn {
  font-size: 15px;
  position: relative;
  cursor: pointer;
}

.nav-icon {
  font-size: 1.5rem;
}



.cart-items {
  position: absolute;
  top: -7px;
  right: -7px;
  padding: 0px 5px;
  border-radius: 35%;
  color: var(--mainWhite);
}

@media screen and (max-width: 990px) {
  .cart-btn {
    width: 30px;
    position: relative;
    cursor: pointer;
  }
  .cart-items{
    
    position: absolute;
    padding: 0px 5px;
  }
  .navwidth {
    width: 80px;
  }
}

/* end of index nav bar */

/* jumbotron */
.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
  background-image: url("../images/product-57.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background: rgba(255, 255, 255, 0.2);
}

.jumbotron p {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.jomboBtn {
  padding: 20px;
}
/* end of .jumbotron */

/* --------------- Products ---------------- */
.products {
  padding: 4rem 0;
}
.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  
}
.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.bag-btn {
  position: absolute;
  top: 50%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover {
  color: var(--mainWhite);
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}
.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
}

.card-common {
    box-shadow: none;
    transition: all .4s;
}

.card-common:hover {
    box-shadow: 2px 3px 15px #999;
    transform: translateY(-5px);
}
/* ---------------End of Products ---------------- */

/*  Cart  */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: all 0.3s linear;;
  transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 20vw;
    min-width: 350px;
  }
}

.close-cart {
  font-size: 1.3rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 1rem;
}
/* Cart Item  */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.7rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 1rem;
  text-transform: capitalize;
}
.cart-item h5 {
  margin: 0.5rem 0;
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  text-align: center;
}
.cart-footer h3 {
  margin-bottom: 1rem;
}

.banner-btn {
  padding: 1rem 3rem;
  font-size: 1rem;
  color: var(--mainBlack);
  border: none;
  border-radius: 20px;
  transition: var(--mainTransition);
  cursor: pointer;
}
.banner-btn:hover {
  background: rgb(53, 114, 53);
  color: #fff;
}

/* --------------- End of Cart ---------------- */

/* login form */

.form-body {
  width: 75%;
  padding-left: 250px;
  box-sizing: border-box;
}

.log-form {
  background-color: #ECECEC;
  padding: 50px 40px;
  margin: 150px 0px 120px 0px;
}

.log-form h3 {
  text-align: center;
  font-size: 40px;
  margin: 0px 0px 40px 0;
}

input[type="tel"],
input[type="text"],
input[type="password"] {
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 0px 10px;
  height: 40px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 100%;
  margin-bottom: 25px;
  border: 1px solid rgb(25, 187, 25);
  outline: none;
}

input[type="tel"]:focus,
input[type="password"]:focus {
  border: 1px solid rgb(12, 214, 12);
  box-shadow: 2px 2px 2px rgb(12, 214, 12);
}

.bottn {
  width: 60%;
  display: block;
  box-sizing: border-box;
  background-color: rgb(32, 99, 32);
  color: #ffffff;
  padding: 10px 0;
  border: 1px solid #798A56;
  border-radius: 10px;
  outline: none;
  margin: auto;
}

.bottn:hover,
.bottn:focus {
  border: 1px solid rgb(96, 114, 56);
  background-color: rgb(131, 184, 27);
}

.b1 {
  display: block;
  width: 100%;
  padding: 20px 0;
  color: rgba(15, 15, 15, 0.966);
  text-decoration: none;
  text-align: center;
  margin-left: 170px;
}

.b2 {
  display: block;
  width: 100%;
  padding: 20px 0;
  color: rgba(15, 15, 15, 0.966);
  text-decoration: none;
  text-align: center;
  margin-left: 170px;
}

.hidden-label {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
}
/* end of login form */

/* reset form */
.log-form h4 {
  text-align: center;
  font-size: 30px;
  margin: 0px 0px 40px 0;
}

.parag {
  font-size: 15px;
  color: rgb(206, 23, 23);
  margin: 20px 0 40px 0;
}

/* end of rest form */

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}
.fotImg {
  width: 80px;
}